<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AirQualityTQSHomework</title>
</head>
<body>
<div class="maindiv container-fluid">
    <h1>Air Quality - TQS </h1>
    <div class="container-fluid">
        <div class="buttondiv">
            <label for="name">Cidade:<input type="text" id="name" name="name">
                <button onclick="fetching_data()" id="{{ search }}">
                    Pesquisar
                </button>
            </label>

        </div>

        <div class="container" id="error"></div>

        <div class="parent container-fluid">
            <div class="div2" id="cityname"> </div>
            <div class="div3" id="aqi"> </div>
            <div class="div4" id="dominentpol"> </div>
            <div class="div5" id="co"> </div>
            <div class="div6" id="h"> </div>
            <div class="div7" id="no2"> </div>
            <div class="div8" id="o3"> </div>
            <div class="div9" id="p"> </div>
            <div class="div10" id="pm10"> </div>
            <div class="div11" id="pm25"> </div>
            <div class="div12" id="so2"> </div>
            <div class="div13" id="t"> </div>
            <div class="div13" id="w"> </div>
        </div>

    </div>
</div>

<script>
    function fetching_data() {
        var url = new URL('http://localhost:8080/info');

        var cityName = document.getElementById('name').value;
        var val = true;

        if(val) {
            var params = {cityName: cityName};
            url.search = new URLSearchParams(params).toString();

            fetch(url)
                .then((res) =>res.json())
                .then((data) => {
                    if(data.name == null) {
                        var error = `<h5 id="erro1">No data for that city.</h5>`;
                        document.getElementById("error").innerHTML = error;
                        document.getElementById("cityname").innerHTML = "";
                        document.getElementById("aqi").innerHTML = "";
                        document.getElementById("dominentpol").innerHTML = "";
                        document.getElementById("co").innerHTML = "";
                        document.getElementById("h").innerHTML = "";
                        document.getElementById("no2").innerHTML = "";
                        document.getElementById("o3").innerHTML = "";
                        document.getElementById("p").innerHTML = "";
                        document.getElementById("pm10").innerHTML = "";
                        document.getElementById("pm25").innerHTML = "";
                        document.getElementById("so2").innerHTML = "";
                        document.getElementById("t").innerHTML = "";
                        document.getElementById("w").innerHTML = "";
                    } else {
                        let cityname = `<h3>Name: ${data.name}</h3>`;
                        let aqi = `<h3>AQI: ${data.aqi}</h3>`;
                        let dominentpol = `<h3>Dominant Polltuant:  ${data.dominentpol}</h3>`;
                        let co = `<h3>CO: ${data.co}</h3>`;
                        let h = `<h3>H: ${data.h}</h3>`;
                        let no2 = `<h3>NO2: ${data.no2}</h3>`;
                        let o3 = `<h3>O3: ${data.o3}</h3>`;
                        let p = `<h3>P: ${data.p}</h3>`;
                        let pm10 = `<h3>PM10: ${data.pm10}</h3>`;
                        let pm25 = `<h3>PM25: ${data.pm25}</h3>`;
                        let so2 = `<h3>SO2: ${data.so2}</h3>`;
                        let t = `<h3>T: ${data.t}</h3>`;
                        let w = `<h3>W: ${data.w}</h3>`;

                        document.getElementById("cityname").innerHTML = cityname;
                        document.getElementById("aqi").innerHTML = aqi;
                        document.getElementById("dominentpol").innerHTML = dominentpol;
                        document.getElementById("co").innerHTML = co;
                        document.getElementById("h").innerHTML = h;
                        document.getElementById("no2").innerHTML = no2;
                        document.getElementById("o3").innerHTML = o3;
                        document.getElementById("p").innerHTML = p;
                        document.getElementById("pm10").innerHTML = pm10;
                        document.getElementById("pm25").innerHTML = pm25;
                        document.getElementById("so2").innerHTML = so2;
                        document.getElementById("t").innerHTML = t;
                        document.getElementById("w").innerHTML = w;
                        document.getElementById("error").innerText = "";
                    }
                })
                .catch((error) => {
                });
        }
    }
</script>
</body>
</html>